<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="viliProekt2.Properties.Settings.ShelterConnectionString"
            connectionString="Data Source=DESKTOP-13PK11F\SQLEXPRESS;Initial Catalog=Shelter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="viliProekt2.Properties.Settings.ShelterConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Shelter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>